<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Add a new rather</h2>

    <%= bootstrap_form_for @rather do |f| %>

      <%= f.fields_for :choices do |ff| %>
        <div class="field">
          <%= ff.text_field :text %>
        </div>
      <% end %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
