<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class="page-header text-center">Ask a Raaather question</h1>

    <%= bootstrap_form_for @rather do |f| %>

      <%= f.fields_for :choices do |ff| %>
        <div class="field">
          <%= ff.text_field :text %>
        </div>
      <% end %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
