var targetRow = $(".rather_<%= @rather.id %>");

$(".rather_<%= @rather.id %>").find(".comment-wrapper ul").append("<li><%= @comment.user.email %> says: <%= @comment.body %></li>")

targetRow.find("#comment_body").val("");
