@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 120px;
}

nav {
  position: fixed;
  z-index: 9999;
  top: 0; right: 0; left: 0;
  height: 50px;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(169,208,63,1)),color-stop(23%,rgba(161,203,63,1)),color-stop(72%,rgba(133,188,65,1)),color-stop(100%,rgba(122,181,65,1)));
  line-height: 50px;
  font-size: 25px;
  color: white;
  a {
    color: inherit;
    &:hover {
      background: none;
    }
    &:visited {
      color: inherit;
    }
  }
}

.rathers-wrapper {
  .rathers-row {
    position: relative;
    padding: 20px 0;
    border-top: 1px solid #bbb;
    list-style-type: none;
    &:last-child {
      border-bottom: 1px solid #bbb;
    }
  }
}

.choice-pic {
  width: 100%;
}

.or-divider {
  margin-top: 80px;
  text-align: center;
  font-size: 3em;
}

.add-comment {
  position: absolute;
  bottom: 0;
  right: 0;
}

.choice-wrapper {
  font-size: 15px;
  .description {
    display: inline-block;
    padding: 7px 3px;
  }
  &.active {
    border: 3px solid #9eca3f;
    border-radius: 3px;
  }
}
.choice_percentage {
  display: none;
}
