@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

ul {
  list-style-type: none;
}

nav {
  position: fixed;
  z-index: 9999;
  top: 0; right: 0; left: 0;
  height: 50px;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(169,208,63,1)),color-stop(23%,rgba(161,203,63,1)),color-stop(72%,rgba(133,188,65,1)),color-stop(100%,rgba(122,181,65,1)));
  line-height: 50px;
  font-size: 19px;
  color: white;
  .brand {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 29px;
    position: relative;
    top: 2px;
  }
  a {
    color: inherit;
    &:hover {
      background: none;
    }
    &:visited {
      color: inherit;
    }
  }
}

.rathers-wrapper {
  -webkit-padding-start: 0;
  .rathers-row {
    position: relative;
    padding: 8px 0;
    list-style-type: none;
    > div:first-child {
      background: white;
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 10px;
    }
    .col-sm-7 {
      border-right: 1px solid #eee;
    }
  }
  .comment-wrapper {
    padding: 0 30px;

    form {
      margin-bottom: 20px;
    }
    ul {
      -webkit-padding-start: 0;
      overflow: auto;
      max-height: 300px;
    }
    li {
      padding: 10px 0;
      border-bottom: 1px solid #eee;
    }
  }
}

.choice-pic {
  width: 100%;
}

.or-divider {
  margin-top: 80px;
  text-align: center;
  font-size: 3em;
}

.add-comment {
  position: absolute;
  bottom: 0;
  right: 0;
}

.choice-wrapper {
  font-size: 15px;
  .description {
    display: inline-block;
    padding: 7px 3px;
  }
  &.active {
    border: 3px solid #9eca3f;
    border-radius: 3px;
  }
}
.choice_percentage {
  display: none;
}

body {
  background-image: image-url("bg-body");
  background-repeat: repeat;
  color: #5c6167;
}

h1 {
  &.page-header {
    font-weight: bold;
    font-size: 3em;
  }
}

input[type="submit"] {
  &.comment {
    color: white;
    background: -webkit-linear-gradient(top,rgba(167,207,63,1) 0,rgba(160,203,63,1) 22%,rgba(129,185,65,1) 80%,rgba(123,181,65,1) 100%);
  }
}
